@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* overflow-y: hidden; */
}

.cl-avatarBox {
  width: 2rem;
  height: 2rem;
}

.loader {
  border-color: rgba(255, 255, 255, 0.2);
  border-top-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* scrollbar styling */
.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #555 #222; /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #222; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #555; /* Thumb color */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #222; /* Space around thumb */
}